@media screen and (max-width: 768px) {

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Lexend', sans-serif;
        /* padding: 3px; */
        /* border: 1px solid red; */
    }

    body {
        min-height: 90vh;
        display: flex;
        flex-direction: column;

    }

    :root {
        --yolk-yellow: #ffa830;
        --turquoise-blue: #5ac3fc;
        --dark-grey: #9b9690;
    }

    a {
        color: inherit;
        padding: 0px;
        margin: 0px;

    }

    .header {
        padding: 10px;
        background-color: var(--turquoise-blue);
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header a {
        display: block;
        padding: 0px;
    }

    #birdLogo {
        height: 30px;
        padding: 0px !important;
        margin: 0px !important;
        vertical-align: middle;
        color: red !important;
    }

    #logout {
        padding: 4px;
        border-bottom: 2px solid black;

        color: white;
    }

    .fullPage {
        display: none;
    }

    .nav {
        background-color: rgb(239, 239, 239);
        margin: 10px;
    }

    .nav ul {
        display: flex;
        justify-content: end;
    }

    .nav ul li {
        list-style: none;
    }

    .main {
        flex: 1;
        
    }



    .footer {
        padding: 10px;
        color: white;
        font-size: 20px;
        background-color: black;
        width: 100%;
        text-align: center;
    }

    .reviewAll {
        padding: 20px;
        border: 2px solid black;
        margin: 10px;
    }

    .reviewAll .option {
        display: flex;
        justify-content: space-between;
    }

    .reviewAll .description {
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        /* number of lines you want */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .reviewAll span {
        padding: 3px;
        border: 1px solid black;
    }
}