:root {
  --yolk-yellow: #ffa830;
  --turquoise-blue: #5ac3fc;
  --dark-grey: #9b9690;
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    /* border: 1px solid red; */
    /* padding: 10px; */
  }

  #top {
    position: relative;
    /* background-color: red; */
  }

  .header,
  .content,
  .footer,
  .nav ul {
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
  }

  .nav ul li {
    width: 100%;
  }

  .nav {
    top: 0px;
    display: none;
    z-index: 1;
    width: 100%;
    max-height: 0vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    transition: 2s;
  }

  /* .nav ul , .nav ul li ,.nav ul li a{
    padding: 0px;
    margin: 0px;
  } */

  .navShow {
    display: block;
    top: 0px;
    z-index: 1;
    width: 100%;
    max-height: 100vh !important;
    background-color: rgb(255, 255, 255);
    transition: 2s;
  }

  #closeMenu {
    text-align: center;
    display: block !important;
    justify-content: space-between;
    display: inline;
    border: 1px solid red;

  }

  .header {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .header h3,
  .header span {
    display: none;
  }

  .headerLeft {
    display: flex;
    align-items: stretch;
    flex-shrink: 1;
  }
  .headerLeft a{
    display: block;
  }

  .headerRight {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-grow: 1;
  }
  .headerRight p{
    display: none;
  }
  .headerRight a{
    margin: 0px;
    display: block;
  }
  .headerRight h1{
    font-size: 1.8em;
  }
  .headerRight h2{
    font-size: 14px;
    display: none;
  }


  #hamburger {
    all: unset;
    display: block !important;
    position: relative;
    width: 5vh;
    /* height is as of birdLogo */
    height: 40px;
    /* height: 100%; */
    cursor: pointer;
    background-color: rgba(238, 130, 238, 0);
    /* outline: none; */
    box-shadow: none;
  }

  .burgerBox {
    outline: none;
    position: absolute;
    /* always absolute */
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 1px;
    /* border: 2px solid black; */
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    left: 0;
    transform-origin: center center;
    display: flex;
    align-items: stretch;
  }

  /* Initial positions */
  .burgerBox:nth-child(1) {
    top: 0%;
  }

  .burgerBox:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .burgerBox:nth-child(3) {
    bottom: 0%;
  }

  /* When toggled to X */
  .closeBar .burgerBox:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: rgb(163, 32, 32);
    border-color: rgb(163, 32, 32);
  }

  .closeBar .burgerBox:nth-child(2) {
    opacity: 0;
  }

  .closeBar .burgerBox:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    background-color: rgb(163, 32, 32);
    border-color: rgb(163, 32, 32);
  }



  .content .left .active {

    display: block;
  }


  .content {
    flex-direction: column;
  }

  .left {
    width: 100%;
    margin-bottom: 20px;
    display: none;

  }

  .left ul li {
    margin: 10px 0;
  }

  .right {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }

  .submission input,
  .submission textarea {
    font-size: 16px;
  }

  .submission .submit {
    width: 100%;
    font-size: 1rem;
  }

  .footer {
    gap: 20px;
    text-align: start;
    align-items: start;
  }
  

  .footer section {
    flex: none;
    width: 100%;
  }

  .copyright {
    font-size: 14px;
    padding: 8px 0;
  }

  .header #birdLogo {
    width: 80px;
    height: 40px;
    margin: auto;
  }
  .page{
    padding: 20px 8%;
  }
}