// Variables
$yolk-yellow: #d9a41a;
$turquoise-blue: #73B0E8;
$dark-grey: #9b9690;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    // padding: 3px;
    // border: 1px solid red;
}

body {
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: inherit;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    padding: 5px 10%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: right;
    background-color: var(--turquoise-blue);
    font-size: 16px;

    #birdLogo {
        color: $turquoise-blue;
        width: 60px;
        height: 60px;
    }
    .headerRight {
        a{
            display: none;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 0 10%;
    display: flex;
    align-items: stretch;
}

#hamburger {
    display: none;
}

.left {
    min-width: 15%;

    ul {
        position: relative;

        li {
            padding: 10px;
            margin: 15px;
            background-color: $yolk-yellow;
            border-radius: 20px;
            text-align: center;

            a {
                width: 100%;
                display: inline-block;
                padding: 0 5px 5px 0;
                text-align: left;
            }
        }
    }

    #arrow {
        position: absolute;
        color: black;
        font-size: 34px;
        left: -70px;
        font-weight: bolder;
    }

    .active {
        color: red;
    }
}

.right {
    margin-left: 90px;
    padding: 10px 0 10px 10px;
    flex-grow: 1;
}

.submission {
    height: 100%;
    display: block;
    padding: 20px;

    label {
        display: block;
        margin: 10px 0;
        font-size: 18px;
    }

    textarea {
        display: block;
        width: 100%;
        min-height: 15px;
        padding: 10px;
        font-size: 18px;
    }

    input {
        display: block;
        width: 100%;
        padding: 10px;
        min-height: 15px;
    }

    .submit {
        display: block;
        background-color: black;
        color: white;
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 1rem;
        align-self: start;

        &:hover {
            background-color: blue;
        }
    }
}

.required {
    color: #bf2c23;
    float: right;
}

.ok {
    color: green;
    float: right;
}

.footer {
    background-color: var(--turquoise-blue);
    color: black;
    padding: 20px 10%;
    display: flex;
    gap: 10%;

    h3 {
        margin-top: 0;
    }

    section {
        margin-bottom: 1.5em;
    }

    a {
        color: #000000;
        text-decoration: none;
        padding: 10px 0px;
        display: inline-block;

        &:hover {
            text-decoration: underline;
        }
    }


}

.copyright {
    text-align: center;
    padding: 10px 0;
    color: white;
    background-color: black;
}

hr {
    color: black;
}

.about {
    // line-height: 2em;
    word-spacing: 3px;
}

.nav {
    padding: 20px 10%;
    background-color: rgb(239, 239, 239);
    display: block;
    transition: all 1s ease;

    &.navShow {
        display: block; // or flex/grid depending on layout
        // optionally also set width, height, etc.
    }

    ul {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        li {
            flex-grow: 1;
            display: inline-block;
            padding: 2px;
            border: 1px solid green;
            border-radius: 4px;

            &:hover {
                background-color: #fb9302;
                box-shadow: 1px 1px 1px 1px;
            }

            a {
                padding: 3px 5px;
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }

    #closeMenu {
        display: none;
    }

    .active {
        background-color: #fb9302;
    }
}



.link {
    // all: unset;
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.link:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

.colorRed {
    color: #bf2c23;
}



.dNone {
    display: none;
}

.page {
    padding: 20px 20%;
    flex: 1;

    .pagination {
        button {
            all: unset;
            text-align: center;
            width: 90px;
            padding: 10px;
            background-color: black;
            color: white;
            border-radius: 8px;
        }
    }

    .story {
        opacity: 1;

        .search {
            display: flex;
            // justify-content: end;
            align-items: center;
            flex-wrap: wrap;

            input {
                // flex: 1;
                all: unset;
                border: 1px solid black;
                padding: 5px;
                // background-color: green;

            }
            input:focus{
                outline: 2px solid rgb(0, 0, 0);
            }

            button {
                all: unset;
                border: 1px solid black;
                padding: 5px;
                background-color: white;
                color: black;
                border-radius: 4px;
                border: 1.2px solid black;

            }
            button:focus{
                outline: 2px solid rgb(0, 0, 0);
            }
            button:hover {
                background-color: #fb9302;
                color: black;
                border: 1.2px solid black;
                box-shadow: 0.5px 0.5px 0.5px 0.5px;
            }
        }

        .list {
            border: 1px solid black;
            margin-bottom: 50px;
            padding: 10px;

            .submissionData {
                h2 {
                    color: rgb(45, 42, 42);
                }

                .submissionLabel {
                    background-color: rgb(241, 240, 240);
                    padding: 10px 10px;
                    // color: white;
                }
                .submissionImg{
                    width: 100%;
                }
                .submissionText {
                    padding: 10px 10px;

                }
            }

            .review {
                .reviewCard {
                    padding: 10px 10px;
                    background-color: rgb(206, 206, 206);

                }
            }

        }
    }
}



// ---------------------------------------------------------------------------------------------------------------------------------------
// testing

.colorTesting{
    color: #bf2c23;
}